@model Hotel_Dejvid.Models.Placanje

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Placanje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RezervacijaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RezervacijaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iznos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iznos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumPlacanje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumPlacanje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrstaPlacanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrstaPlacanja)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PlacanjeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
